@import url(https://fonts.bunny.net/css);

.material-symbols-outlined {
	color: var(--text);
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 24
}

:root {
	--base: #232136;
	--rose: #ebbcba;
	--highlight: #56526e;
	--overlay: #393552;
	--gold: #f6c177;
	--text: #e0def4;
	--pine: #3e8fb0;
	--foam: #9ccfd8;
}

* {
	margin: 0;
	list-style: none;
	font-family: Montserrat;
}

.container {
	background-color: var(--base);
	height: 100vh;;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(5,1fr);
}

.sidebar {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: -1;
	background-color: var(--highlight);
}

.header {
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: 1;
	background-color: var(--overlay);
}

.header-top {
	display: flex;
		img {
		width: 2em;
		height: 2em;
	}
}

.header-bottom {
	display: flex;
	img {
		height: 6em;
	}
}

.content {
	grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: -1;
	background-color: var(--rose);
	display: grid;
	grid-template-columns: 6fr 4fr;
}

.projects {
	grid-column-start: 1;
	background-color: var(--pine); 
	display: grid;
	grid-template-columns: min-content 1fr min-content 1fr min-content;
	grid-template-rows: min-content 1fr min-content 1fr min-content 1fr min-content;
	p {
		grid-row-start: 1;
		grid-column-start: 1;
		grid-column-end: -1;
	}
	[class^=project] {
		background-color: var(--gold);
		margin: 1em;
	}
}

.project1 {
	grid-column-start: 2;
	grid-row-start: 2;
}

.project2 {
	grid-column-start: 4;
	grid-row-start: 2;
}
.project3 {
	grid-column-start: 2;
	grid-row-start: 4;
}
.project4 {
	grid-column-start: 4;
	grid-row-start: 4;
}
.project5 {
	grid-column-start: 2;
	grid-row-start: 6;
}
.project6 {
	grid-column-start: 4;
	grid-row-start: 6;
}

.social {
	display: grid;
	grid-template-row: min-content 1fr min-content 1fr;
}
